@model WindsorSt.Models.Locomotive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Locomotive</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReportingMark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReportingMark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoadNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoadNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Class)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Class)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
